<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>books-create</title>
</head>
<body>
	<h1>書籍データ</h1>
	<form th:action="@{/book/edit}" method="post" th:object="${bookForm}">
		<table>
			<tr>
				<td>題名 :</td>
				<td><input type="text" th:field="*{title}"></td>
			</tr>
			<tr>
				<td>登録日:</td>
				<td><input type="date" th:field="*{date}"></td>
			</tr>
			<tr>
				<td>価格 :</td>
				<td><input type="number" th:field="*{price}"></td>
			</tr>
			<tr>
				<td>内容 :</td>
				<td>
				<textarea th:field="*{contents}" rows="4" cols="30"></textarea>
				</td>
			</tr>
		</table>
		<input type="hidden" th:field="*{id}"> 
		<input type="submit" value="登録">
	</form>
</body>
</html>