<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>書籍リスト</title>
</head>
<body>
	<h1>書籍リスト</h1>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>題名</th>
			<th>投稿日</th>
			<th>価格</th>
			<th>内容</th>
			<th>操作</th>
		</tr>
		<tr th:each="book : ${books}">
			<td th:text="${book.id}"></td>
			<td th:text="${book.title}"></td>
			<td th:text="${book.date}"></td>
			<td th:text="${book.price}"></td>
			<td th:text="${#strings.abbreviate(book.contents, 20)}"></td>
			<td>
				<a th:href="@{/book/{id}/view(id=${book.id})}">詳細</a> 
				<a th:href="@{/book/{id}/edit(id=${book.id})}">編集</a> 
				<a th:href="@{/book/{id}/delete(id=${book.id})}">削除</a>
			</td>
		</tr>
	</table>
	<br/>
	<a th:href="@{/book/create}">新規登録</a>
</body>
</html>
